.video-box {
    padding: 0;
}

video {
    max-width: 100%;
}

.filelist {
    padding: 0;
    list-style: none;
    
    li {
        padding: 10px;
        background-image: url(../play.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 8px;
        padding-left: 80px;
        
        &.active {
            background-color: rgba(0, 126, 255, 0.18);
        }
        
        .title {
            font-weight: bold;
        }
        
        a {
            color: black;
            text-decoration: none;
        }
    }
}